@import url(styles/header.css);
@import url(styles/banner.css);

:root{
    --cor-de-fundo:#EDDEDE;
    --branco:#A43131;
    --amarelo:#A26767;
    --vermelho:#A43131;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --vermelho-escuro: #802626;
    
    

}

body{
    background-color:var(--cor-de-fundo);
font-family: var(--fonte-principal);
font-size: 16px;
font-weight: 400;
}
.image-container {
    display: block;
    align-items: center;
    border: 5px solid var(--vermelho-escuro);
    width: 99%;
    height: 900px;
  }
  .image-container img {
    max-width: 30%;
    margin: 10px;
    border: 3px solid #000;
  }
  .image-container p {
    width: 30%;
    margin: 0px;
    
  }
.livros{
    text-decoration: none;
    color: #A26767;
}
a{
    text-decoration: none;
    color: #A26767;
}